body{
    background-color: rgb(5, 73, 100);
    margin: 0;
}

.header-text{
    background-color: aliceblue;
    text-align: center;
    padding: 1rem;
}

main{
    background-color: aliceblue;
}

.user-box{
 margin-top: 2rem;
 padding-top: 1rem;
 text-align: right;
 width: 95%;
}

.main-text{
    margin-top: 5rem;
    padding-bottom: 5rem;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: aliceblue;
    width: 100%;
}