body{
    margin: 0;
}
header{
    text-align: center;
}
main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    text-align: center;
}
main ul{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
footer{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
footer p{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
