<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Hello World</title>
</head>

<body>
    <header>
        <div class="title-wrapper">
            <h1>A simple header</h1>
            <h5 class="title-description">Description Here</h5>
        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quos pariatur nostrum temporibus. Facere repudiandae ut ea nisi quae deleniti, sed ducimus, voluptates velit dolor ad sequi labore atque architecto!</p>
        </div>
    </header>


    <main>

        <div class="language-pic-wrapper">
            <a href="https://en.wikipedia.org/wiki/HTML5" target='_blank' class="html-learn-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/640px-HTML5_logo_and_wordmark.svg.png" alt="image not found..." class="html-img"></a>

            <a href="https://en.wikipedia.org/wiki/CSS" target='_blank' class="css-learn-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="image not found..." class="css-img"></a>

            <a href="https://en.wikipedia.org/wiki/JS" target='_blank' class="js-learn-link">
                <img src="https://i.pinimg.com/originals/98/0b/a0/980ba07956ccfdf81b5060b1795cdcad.png" alt="image not found..." class="js-img"></a>
        </div>
        
        <div class="main-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptas quibusdam at, nesciunt omnis eius officia molestias molestiae numquam natus, aut maxime id mollitia. Pariatur minus voluptate consectetur quae consequuntur!
            Sint alias nemo nobis soluta esse sapiente, facilis dolores illo nostrum deleniti. Harum assumenda commodi accusantium doloremque cum, officia ipsam delectus minima vero facere expedita, consectetur, maxime velit modi blanditiis!
            Animi, architecto. Sapiente totam mollitia ducimus eligendi inventore cum ut ipsum ea neque amet enim in, ratione laudantium nulla provident minus beatae! Expedita animi provident laborum ea vitae ipsam placeat.
            Quae modi, consequatur veritatis quo saepe natus aliquid! Aut corporis necessitatibus iusto. Molestiae, magnam laborum! Optio dolores tenetur eos qui non perferendis nesciunt veritatis voluptas, explicabo praesentium magnam cupiditate exercitationem?
            Dicta cumque totam quidem repudiandae. Nesciunt id quia amet minus, eaque nihil fugit ducimus inventore saepe, ut molestiae distinctio? Quis, ipsum. Ab natus, similique dolor id quidem unde suscipit ducimus!</p>
        </div>

    </main>

    <footer>
        <div class="copyright-info">
            <p>Charles Parmley 2021</p>
        </div>
    </footer>
</body>

</html>